[["totalenergies-tos-1" :tos/full-text "# General Terms and Conditions of Use (GTCU)

Welcome to the address the Website
[www.totalenergies.com](https://www.total.com/) (hereinafter « the Website »).
By using the Website, you acknowledge that you have read, understood and
accepted, without limitation or reservation, this document (hereinafter «
General Terms and Conditions of Use » or « GTCU »). You also undertake to read
the personal [data and cookies charter](/privacy) available on the Website.
Please note that if you visit other TotalEnergies Company websites, different
general terms and conditions of use and policies related to personal data
protection, or any other document relating to the protection of personal data,
apply to these websites. It is recommended that you carefully read their legal
notices.

**The companies within the TotalEnergies Company have their own legal
existence and independent legal status. The company publishing the Website
(hereinafter “the Website Publisher”) belongs to the TotalEnergies Company.
“TotalEnergies”, “TotalEnergies Company” and “Company” generally refers to
TotalEnergies SE and/or its subsidiaries and affiliates; a subsidiary is a
company in which TotalEnergies SE directly or indirectly holds a majority of
the voting rights. Likewise, the words “we”, “us” and “our” are used to refer
to the Website Publisher or any company of the TotalEnergies Company in
general or to those who work for them. These expressions are also used where
no useful purpose is served by identifying the particular company or
companies. It cannot be inferred from these expressions that TotalEnergies SE
or any of its subsidiaries or affiliates are involved in the business and
management of any other company of TotalEnergies Company.**

## **1\\. Identity**

### The Website Publisher

TotalEnergies SE, European company with the capital of €5,704,141,785.00,
whose head office is located at Tour Coupole - 2, place Jean Millier - 92078
Paris La Défense Cedex – France and registered in the Trade and Companies
Register of Nanterre under number 542 051 180.  
VAT number: FR 59 542 051 180  
Email address: [Contact form](/contact-form)  
Phone number: +33 1 47 44 60 00  
Publication Director: Communication Director

### The Website Hosting Company

Acquia Cloud Site Factory located at Frankfurt, Germany  
Headquarter located at 53 State Street, Boston, MA 02109, USA  
Dun and Bradstreet (D&B): 015922699  
Phone number: +1 617-588-9600

## **2\\. Definitions**  

Terms and expressions identified by capitalization in the GTCU have the
following meanings, whether used in the singular or plural:  
\"User\": refers to any person who browses the Website.

## **3\\. Use and Undertakings of the User**  

Each User of the Website certifies to comply with the GTCU and laws in force,
in particular:

  * have the necessary skills and means to access and use the Website;
  * have verified that the computer configuration used does not contain any viruses and is in perfect working order.

## **4\\. Intellectual property**

### Principle

All information or documents (texts, animated or static images, sounds,
photographs, know-how, quoted products) displayed on the Website as well as
all elements created for the Website and its general structure, are either the
property of the Website Publisher or the TotalEnergies Company, or are subject
to use, reproduction and representation rights that have been granted to such.
These information, documents and items are subject to laws protecting
copyright insofar as they have been made available to the public on the
Website. No license or any right other than to view the Website has been
granted to any person with respect to intellectual property rights.
Reproduction of the Website documents is authorized solely as information for
personal and private usage. Any reproduction and any use of copies made for
other purposes is expressly prohibited and subject to the prior and express
authorization of the Website Publisher. In all cases, the authorized
reproduction of information displayed on the Website must quote the
appropriate source and ownership.

### Distinguishing Marks

Unless otherwise stated, company names, logos, products and brands quoted on
the Website are the property of the Website Publisher or the TotalEnergies
Company, or are subject to use, reproduction or representation rights that
have been granted for their benefit. They may not be used without the prior
written consent of the Website Publisher.

### Databases

Any databases made available to you are the property of the Website Publisher,
which has the status of database producer. You are prohibited from extracting
or reusing any qualitatively or quantitatively substantial part of the
databases, including for private purposes.

**Photos – Videos Credits**  

Photo / video credits are available when hovering over images / videos.

## **5\\. Hyperlinks**  

### Activation of links

the Website Publisher formally declines any liability for the content of the
websites to which it provides links. Please consult the general conditions of
use and the personal data and cookies policy, or any other document relating
to the protection of personal data, of these websites in order to understand
their practices. The decision to activate the links is made solely by the
Users. the Website Publisher may modify or delete a link on the Website at any
time.

### Authorization of links

If you wish to create a hypertext link to the Website, you must obtain the
prior written consent of the Website Publisher by using the contact details
mentioned at the end of the GTCU.

## **6\\. Formal Notice**  

### Liability

Information and recommendations available on the Website (hereinafter
\"Information\") are provided in good faith. They are supposed to be correct at
the time they are published on the Website. However, the Website Publisher
neither represents nor guarantees the completeness and accuracy of the
Information. You fully assume the risks associated with the credit you give
them. The Information are provided to you on the condition that you or any
other person who receives them can determine its interest for a specific
purpose before using them. In no event shall the Website Publisher be liable
for any damages that may result from the reliance on or use of the
Information. The Information should not be considered as recommendations for
the use of information, products, procedures, equipment or formulations that
would be in contradiction with any intellectual property right. the Website
Publisher declines any liability, express or implied, if the use of the
Information contravenes an intellectual property right.

The Website Publisher, and any TotalEnergies company, categorically rejects
any interpretation which may assimilate the content of its websites with
offers to purchase or incentives to acquire shares or other negotiable
securities, listed or unlisted, from the Website Publisher or any other
TotalEnergies company. No warranty, express or implied, is given regarding the
commercial nature of the Information provided, nor as to their suitability for
a particular purpose, nor as to the products referred to in such Information.
Under no circumstances the Website Publisher undertakes to update or correct
the Information that will be published on the Internet or on its web servers.
the Website Publisher reserves the right to modify or correct the content of
its websites at any time without prior notice.

The Website Publisher does not guarantee, without this list being exhaustive,
that the Website operates without interruption and that the servers that
provide access to it and/or third party sites for which hypertext links refer
do not contain viruses.

### Forward-Looking Statements

The documents presented on the Website may contain forward-looking statements
about the Company (including objectives and trends) and forward-looking
statements within the meaning of the Private Securities Litigation Reform Act
of 1995, including statements regarding TotalEnergies financial condition,
results of operations, business and strategy.

The forward-looking statements contained in these documents are based on
economic data and assumptions made within a given economic, competitive and
regulatory environment. They may prove to be inaccurate in the future and
depend on risk factors that could cause actual results to differ materially
from those contemplated, such as, but not limited to, changes in exchange
rates, the price of petroleum products, the ability to achieve cost reductions
or efficiency gains without undue disruption to operations, environmental
regulatory considerations and general economic and financial conditions.
Similarly, some financial information are based on estimates, particularly
when assessing the recoverable amount of assets and the amounts of any
impairment losses.

Neither TotalEnergies nor any of its subsidiaries assumes any obligation to
update or revise, in particular as a result of new information and/or future
events, any or all of the statements, forward-looking statements, trends or
objectives contained in these documents. Additional information concerning
factors, risks and uncertainties that could affect the Company's financial
results or business are also available in the most up-to-date versions of the
Document de référence / Document d'enregistrement universel filed in France
with the Autorité des marchés financiers and the annual report on Form 20-F
filed with the United States Securities and Exchange Commission (\"SEC\").

## **7\\. Updates of the Website GTCU and applicable law**  

the Website Publisher may update the GTCU of the Website at any time. Users
are invited to regularly refer to the latest current GTCU available on the
Website.

If one or more provisions of the GTCU are found not to be applicable or
prohibited by public policy regulations, the other provisions of the
unaffected GTCU shall remain applicable to Users to the extent permitted by
such regulations.

The GTCU are subject to French law and fall within the jurisdiction of the
competent French courts.

## **8\\. Contact**

For any question related to the GTCU of the Website, you can contact us at the
following email address via our [contact form](/contact-form) or at the
following postal address:  
TotalEnergies SE  
" 1 :add]
 ["totalenergies-tos-1" :tos/source-url "https://totalenergies.com/legal" 1 :add]
 ["totalenergies-tos-1" :tos/retrieved-at "2026-07-10" 1 :add]
 ["totalenergies-tos-1" :tos/sha256 "bc0077c7a5442c91931534d17a242475bda3b065f3627a9ecd5ffd311851cf3c" 1 :add]
 ["totalenergies-tos-1" :tos/doc-type :terms-of-service 1 :add]]
